In [1]:
import numpy as np
import pandas as pd

# Path to your CSV file
csv_file_path = "Final_DF.csv"

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Display the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485531 entries, 0 to 485530
Data columns (total 33 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          485531 non-null  object
 1   time                          485531 non-null  object
 2   trx_id                        485531 non-null  object
 3   trx_type                      485531 non-null  object
 4   trx_status                    485531 non-null  object
 5   category                      485531 non-null  object
 6   business_type_class           485531 non-null  object
 7   wallet_number_from            485531 non-null  float64
 8   wallet_number_to              485531 non-null  int64
 9   amount                        485531 non-null  float64
 10  description                   485531 non-null  object
 11  currency                      485531 non-null  object
 12  invoice_details               485531 non-null  object
 13  ip                            485531 non-null  object
 14  browser_environment           485531 non-null  object
 15  amount_bin                    485531 non-null  object
 16  datetime                      485531 non-null  object
 17  hour                          485531 non-null  int64
 18  day_of_week                   485531 non-null  int64
 19  Wallet_to_change_frequency    485531 non-null  float64
 20  IP Change Frequency           485531 non-null  float64
 21  First Transaction Date        485531 non-null  object
 22  Transaction Count             485531 non-null  float64
 23  Days Since First Transaction  485531 non-null  float64
 24  Transaction Frequency         485531 non-null  float64
 25  Adjusted Account Age          485531 non-null  float64
 26  flagged                       485531 non-null  bool
 27  ip_number                     485531 non-null  int64
 28  country                       485531 non-null  object
 29  city                          485531 non-null  object
 30  region                        485531 non-null  object
 31  lat                           485531 non-null  float64
 32  long                          485531 non-null  float64
dtypes: bool(1), float64(10), int64(4), object(18)
memory usage: 119.0+ MB

In [2]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second

In [3]:
df[df['flagged'] == True]

,date,time,trx_id,trx_type,trx_status,category,business_type_class,wallet_number_from,wallet_number_to,amount,...,country,city,region,lat,long,year,month,day,minute,second
7,2020-06-28,07:41:19,018db93d-2fd0-7bbe-8395-462002aa707e,client_transaction_transfer,processed,Movies,ClientTransactionProcess,4.0,332207,4.55,...,Egypt,Alexandria,Al Iskandariyah,31.200027,29.899892,2020,6,28,41,19
11,2019-07-16,07:17:17,018db93d-3206-7442-9ba0-71480955db00,client_transaction_transfer,processed,Toys,ClientTransactionProcess,5.0,309241,3.53,...,Bulgaria,Plovdiv,Plovdiv,42.149970,24.749994,2019,7,16,17,17
14,2019-04-15,12:33:28,018db93d-36b4-70bd-86fd-3bca28c9ba13,client_transaction_transfer,processed,Books,ClientTransactionProcess,6.0,380714,3.46,...,United States of America,Columbus,Ohio,39.966380,-83.012770,2019,4,15,33,28
20,2020-11-11,19:09:05,018db93d-3cc3-7305-9d43-b45a446cfeac,client_transaction_transfer,processed,Electronics,ClientTransactionProcess,8.0,172516,1.89,...,Indonesia,Jakarta,Jakarta Raya,-6.208678,106.845493,2020,11,11,9,5
28,2019-04-14,20:39:10,018db7c7-2ae1-7ae6-a49b-1788544f4abd,client_transaction_transfer,processed,Electronics,ClientTransactionProcess,12.0,81744,3.00,...,United States of America,Cicero,Illinois,41.845590,-87.753940,2019,4,14,39,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485519,2019-12-12,04:00:42,018db74e-5d15-70b0-b420-3b4971c24cb3,client_transaction_transfer,processed,Home,ClientTransactionProcess,999878.0,410349,2.00,...,Australia,Sydney,New South Wales,-33.867780,151.207052,2019,12,12,0,42
485521,2023-05-26,06:56:57,018db788-9692-75d8-a14a-17e817baaa37,client_transaction_transfer,processed,Shoes,ClientTransactionProcess,999883.0,804973,5.00,...,United States of America,Palo Alto,California,37.409911,-122.160400,2023,5,26,56,57
485525,2021-09-24,05:20:43,018db91e-704a-7002-b6af-f20e79367472,client_transaction_transfer,processed,Automotive,ClientTransactionProcess,999918.0,282722,10000.00,...,Austria,Maria Enzersdorf,Niederosterreich,48.099973,16.284181,2021,9,24,20,43
485528,2020-11-24,21:17:48,018db7ab-3f10-74c8-b1aa-b5ba3e1767a7,client_transaction_transfer,processed,Home,ClientTransactionProcess,999951.0,910410,5.00,...,China,Qingdao,Shandong,36.098610,120.371940,2020,11,24,17,48
485530,2021-10-13,23:32:53,018db786-1406-71fa-b3c4-79e87c40b4a8,client_transaction_transfer,processed,Games,ClientTransactionProcess,999993.0,217942,1.00,...,Philippines,Manila,National Capital Region,14.604200,120.982200,2021,10,13,32,53

In [4]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
encoder = LabelEncoder()

# Fit and transform the data
encoded_data = encoder.fit_transform(df['category'])
country = encoder.fit_transform(df['country'])
city = encoder.fit_transform(df['city'])
region = encoder.fit_transform(df['region'])
trx_type = encoder.fit_transform(df['trx_type'])
trx_status = encoder.fit_transform(df['trx_status'])
browsers = encoder.fit_transform(df['browser_environment'])
business = encoder.fit_transform(df['business_type_class'])
'''
# Create a dictionary to store the encoding information
encoding_info = {category: label for category, label in zip(data, encoded_data)}
'''

df['category'] = encoded_data
df['country'] = country
df['city'] = city
df['region'] = region
df['trx_status'] = trx_status
df['trx_type'] = trx_type
df['browser_environment'] = browsers
df['business_type_class'] = business

In [5]:
df.iloc[0,:]

date                                                      2020-05-04
time                                                        13:08:06
trx_id                          018db93d-2fd0-7eb2-98e5-c8a7bf0fa5be
trx_type                                                           0
trx_status                                                         0
category                                                          14
business_type_class                                                0
wallet_number_from                                               1.0
wallet_number_to                                              302391
amount                                                          6.46
description                                                    Shoes
currency                                                         EUR
invoice_details                                      Nicole Martinez
ip                                                    172.24.127.115
browser_environment                                               10
amount_bin                                                 [1, 1001)
datetime                                         2020-05-04 13:08:06
hour                                                              13
day_of_week                                                        0
Wallet_to_change_frequency                                       3.0
IP Change Frequency                                              3.0
First Transaction Date                           2020-05-04 13:08:06
Transaction Count                                                3.0
Days Since First Transaction                                  1453.0
Transaction Frequency                                     484.333333
Adjusted Account Age                                        0.015004
flagged                                                        False
ip_number                                                 2887286643
country                                                            0
city                                                              14
region                                                             3
lat                                                              0.0
long                                                             0.0
year                                                            2020
month                                                              5
day                                                                4
minute                                                             8
second                                                             6
Name: 0, dtype: object

In [13]:
from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#X = df[['amount', 'category', 'trx_type', 'trx_status','wallet_number_from', 'wallet_number_to', 'ip_number', 'country', 'city', 'region', 'Adjusted Account Age', 'Days Since First Transaction', 'year', 'month', 'day', 'hour', 'minute', 'second', 'day_of_week', 'IP Change Frequency', 'Wallet_to_change_frequency','Transaction Frequency', 'lat', 'long', 'Days Since First Transaction']]
X =  df[['ip_number', 'wallet_number_to', 'region','Adjusted Account Age', 'browser_environment', 'wallet_number_from', 'business_type_class', 'city', 'trx_type', 'country', 'amount']]

# Isolation Forest model
isolation_forest = IsolationForest(contamination= 'auto', random_state=42)  # Adjust contamination based on expected outlier proportion
isolation_forest.fit(X)

# Predict outliers using Isolation Forest
isolation_outliers = isolation_forest.predict(X)  # Returns 1 for inliers, -1 for outliers

df['isolation_outliers'] = isolation_outliers


# Assuming df['true_labels'] and df['predicted_labels'] are the two boolean columns to compare
actual = df['flagged']
for col in ['isolation_outliers']:
    # Sample data (replace this with your actual and predicted data)
    # Convert values from 1 to 0 and from -1 to 1
    df[col] = df[col].map({1: 0, -1: 1})
    predicted = df[col]

    # Generate classification report
    report = classification_report(actual, predicted)

    print(f"Classification Report with contamination hyperparameter set at auto:")
    print(report)

Classification Report with contamination hyperparameter set at auto:
              precision    recall  f1-score   support

       False       0.81      0.80      0.80    350352
        True       0.49      0.50      0.50    135179

    accuracy                           0.72    485531
   macro avg       0.65      0.65      0.65    485531
weighted avg       0.72      0.72      0.72    485531

In [14]:
# Calculate accuracy for Isolation Forest
accuracy = accuracy_score(actual, predicted)
print("Accuracy:", accuracy)

Accuracy: 0.7155341265542262

In [ ]:
# One-Class SVM model
svm = OneClassSVM(nu = 0.4, kernel = 'linear')  # Adjust contamination based on expected outlier proportion
svm.fit(X)

# Predict outliers using Isolation Forest
svm_outliers = svm.predict(X)  # Returns 1 for inliers, -1 for outliers

df['svm_outliers'] = svm_outliers

In [10]:
X =  df[['ip_number', 'wallet_number_to', 'region','Adjusted Account Age', 'browser_environment', 'wallet_number_from', 'business_type_class', 'city', 'trx_type', 'country', 'amount']]

# Predict outliers using Isolation Forest
svm_outliers = svm.predict(X)  # Returns 1 for inliers, -1 for outliers

df['svm_outliers'] = svm_outliers



# Assuming df['true_labels'] and df['predicted_labels'] are the two boolean columns to compare
actual = df['flagged']
for col in ['svm_outliers']:
    # Sample data (replace this with your actual and predicted data)
    # Convert values from 1 to 0 and from -1 to 1
    df[col] = df[col].map({1: 0, -1: 1})
    predicted = df[col]

    # Generate classification report
    report = classification_report(actual, predicted)

    print(f"Classification Report with contamination hyperparameter set at 0.4:")
    print(report)

Classification Report with contamination hyperparameter set at 0.4:
              precision    recall  f1-score   support

       False       0.72      0.60      0.66    350352
        True       0.28      0.40      0.33    135179

    accuracy                           0.54    485531
   macro avg       0.50      0.50      0.49    485531
weighted avg       0.60      0.54      0.56    485531

In [12]:
# Calculate accuracy for SVM
accuracy = accuracy_score(actual, predicted)
print("Accuracy:", accuracy)

Accuracy: 0.5440558893252954